.footer-js {
display: flex;
background: var(--color-background);
padding: var(--large-space);
justify-content: center;
}

.footer-main {
    display: flex;
    font-size: small;
    font-family: var(--font-main);
    color: var(--color-text-light);
    align-items: center;
}
