body {
    background-color: var(--color-background);
}

.container_main {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background2);
    margin: 80px 0 var(--medium-space) 0;
    padding: var(--small-space);
    font-family: var(--font-main);
    align-items: center;
    text-align: center;
    color: var(--color-text);
}